img#imgpatient{
  float: left;
  width: 100px;
  height: 70px;
  border: 3px solid;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 5px;
  border-color: #28A4A8;
}

img#imgheight{
  width: 150px;
  height: 120px;
  padding-left: 85px;
}

img#imgweight{
  width: 150px;
  height: 120px;
}

img#imgbodymass{
  width: 150px;
  height: 120px;
}

.columna
{float:left;
  width:33%;
}
@media (max-width: 780px) {
  .columna {float:none;width:100%;}
}

b#MEDHIS{
  font-size: 40px;
}
b#bAll{
  font-size: 25px;
}
b#bPath{
  font-size: 25px;
}
body {
  margin: 50px;
  min-height: 10vh;
}

div#divName{
  width: 1300px;
  height: 90px;
  border: 1px solid #000;

}
div#divgeninf{
  background-color: #28A4A8;
  height: 30px;
  color: white;
  text-align: left;
}
h#textgeninf{
  color: white;
  margin-left: 10px;
  font-size: 25px;
}
div#test{
  width: 1300px;
  height: 300px;
  border: 1px solid #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2#genInf{
  background-color: #28A4A8;
  color:white;

}
button {
  border-radius: 80px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #28A4A8;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  padding: 1rem;
  text-align: center;
}

hr{
  margin-left: 0;
}
